/* centered columns styles */
.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

.col-fixed {
	/* custom width */
	width: 320px;
}

.col-min {
	/* custom min width */
	min-width: 320px;
}

.col-max {
	/* custom max width */
	max-width: 320px;
}

/* columns of same height styles */
.row-same-height {
	display: table;
	width: 100%;
}

.col-xs-height {
	display: table-cell;
	float: none !important;
}

@media ( min-width : 768px) {
	.col-sm-height {
		display: table-cell;
		float: none !important;
	}
}

@media ( min-width : 992px) {
	.col-md-height {
		display: table-cell;
		float: none !important;
	}
}

@media ( min-width : 1200px) {
	.col-lg-height {
		display: table-cell;
		float: none !important;
	}
}

/* vertical alignment styles */
.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}


/**/
@media (min-width: 768px){
  #left {
    width: 75%;
  }
  
  #right {
    position: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
}

#left {
  text-align: center;
  height:100%;
}

#right {
  text-align: center;
}